<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249588501791-1nek7si7id1mrtrla3g1lqm00p2c31pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249588501791-1nek7si7id1mrtrla3g1lqm00p2c31pm</string>
	<key>API_KEY</key>
	<string>AIzaSyDNyKvkpUOq85v1YWU1utarwqfEYg9t3Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>249588501791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHindiCourse</string>
	<key>PROJECT_ID</key>
	<string>flutterhindicourse</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterhindicourse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249588501791:ios:f55d8f3c46227cf6b4b42a</string>
</dict>
</plist>